*

!/.gitignore

!/hypr/
!/hypr/**

/zsh/.zsh_history
!/zsh/
!/zsh/**

!/nwg-look
!/nwg-look/**

!/rofi
!/rofi/**

!/tmux
!/tmux/**

!/waybar
!/waybar/**

!/wlogout
!/wlogout/**

!/git
!/git/**

!/dunst
!/dunst/**

!/eww
!/eww/**
