/* @import "../omarchy/current/theme/waybar.css"; */

@define-color foreground rgba(255, 255, 255, 1);
@define-color background rgba(10, 10, 10, .0);
@define-color bg_main rgba(10, 10, 10, .7);

@define-color content_main white;
@define-color content_inactive rgba(255, 255, 255, 0.25);

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font", "Ubuntu";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

window#waybar {
    background-color: @bg_main;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;

  color: @content_inactive;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  color: @foreground;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  background-color: rgba(0, 0, 0, 0);
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
